#background {
  text-align: center;
  padding: 90px 0 318px;

  > h2 {
    font-family: "Roboto Mono";
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 0.01em;
    color: #242a44;
    margin-bottom: 34px;
  }

  > hr {
    width: 110px;
    margin: 0 auto 74px;
    border: 4px solid #bac2e8;
  }
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: -34px auto 0;
  width: 90%;
  max-width: 1360px;

  > div {
    flex: 1 0 25%;
    padding: 10px;
  }
}

.card {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  margin: 34px auto 0;
  background-color: #242a44;
  width: 240px;
  height: 240px;
  border-radius: 20px;

  > h3 {
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #ffffff;
  }
}
